$btn-c_red: #fb565a;
$btn-c_green: #00ca74;
$btn-c_yellow: #efc849;
$btn-bg-hover: #e74246;
$btn-bg-active: #d7373b;
$btn-tx-c-active: rgba(255, 255, 255, 0.3);
$btn-tx_color: #ffffff;

.slider-item__button {
	display: block;
	width: 240px;
	padding: 16px 0;
	margin-left: 20px;
}

.button {
	font-size: 16px;
	line-height: 18px;
	color: $btn-tx_color;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	border-radius: 3px;
	border: none;
}

.offer-item__button {
	display: block;
	width: 160px;
	padding: 15px;
}

.button-red {
	background-color: $btn-c_red;
}

.button-green {
	background-color: $btn-c_green;
}

.button-yellow {
	background-color: $btn-c_yellow;
}

