$btn-c_red: #fb565a;
$btn-c_green: #00ca74;
$btn-c_yellow: #efc849;
$btn-bg-hover: #e74246;
$btn-bg-active: #d7373b;
$btn-tx-c-active: rgba(255, 255, 255, 0.3);
$btn-tx_color: #ffffff;

.slider-item__button {
	display: block;
	width: 240px;
	padding: 16px 0;
	margin-left: 20px;
	&:hover {
		background-color: $btn-bg-hover;
	}
	&:active {
		background-color: $btn-bg-active;
		color: $btn-tx-c-active;
	}
}

.button {
	display: block;
	font-size: 16px;
	line-height: 18px;
	color: $btn-tx_color;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	border-radius: 3px;
	border: none;
}

.offer-item__button {
	display: block;
	width: 160px;
	padding: 15px;
}

.button-red {
	background-color: $btn-c_red;
	&:hover {
		background-color: $btn-bg-hover;
	}
	&:active {
		background-color: $btn-bg-active;
		color: $btn-tx-c-active;
	}
}

.button-green {
	background-color: $btn-c_green;
	&:hover {
		background-color: #00bc6c;
	}
	&:active {
		background-color: #00aa62;
		color: $btn-tx-c-active;
	}
}

.button-yellow {
	background-color: $btn-c_yellow;
	&:hover {
		background-color: #eab534;
	}
	&:active {
		background-color: #e5a722;
		color: $btn-tx-c-active;
	}
}

.modal-button__submit {
	@extend .button;
	width: 260px;
	height: 50px;
	background-color: $btn-c_red;
}

.address-button {
	width: 220px;
	height: 50px;
	cursor: pointer;
	background-color: $btn-c_red;
	&:hover {
		background-color: $btn-bg-hover;
	}
	&:active {
		background-color: $btn-bg-active;
		color: $btn-tx-c-active;
	}
}

.user-form__button {
	@extend .modal-button__submit;
	font-weight: bold;
	background-color: #d4d4d4;
	color: #000000;
}
