.page-header {
	background-color: #eeeeee;
}

.page-header-wrapper {
	margin-left: 120px;
	margin-right: 120px;
}

.page-header__logo-link_image {
	margin-left: 20px;
	margin-top: 50px;
	&:hover {
		fill: #303030;
	}
	&:active {
		fill: #a6a6a6;
	}
}

.page-header__nav {
	display: flex;
}

.nav__list {
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 75px;
}

.site-list {
	margin-left: 200px;
}

.user-list {
	margin-left: 245px;
}

.user-list-image__item {
	margin-top: 7px;
}

.site-list__item {
	width: 100px;

	&:nth-child(2){
		text-align: center;
		margin-right: 20px;
	}
	&:nth-child(3){
		text-align: center;
	}
	&:nth-child(4){
		margin-left:20px;
		text-align: right;
	}
}

.user-list__item {
	text-align: right;
	margin-left: 25px;
}

.site-link {
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	&:hover {
		color: #fb565a;
	}
	&:active {
	color: #a6a6a6;
	}
}

.user-link {
	@extend .site-link;
}