$color-p: #283136;

.offer-wrap {
	width: 1100px;
	margin-left: 140px;
	margin-top: 80px;
}

.offer-item {
	width: 300px;
	height: 350px;
	&:nth-child(1)::before {
		content:"";
		display: block;
		position: relative;
		width: 300px;
		height: 145px;

		background-image: url("../img/illustration-1.png");
		background-repeat: no-repeat;
		background-position: top;
	}

	&:nth-child(2)::before {
		content:"";
		display: block;
		position: relative;
		width: 300px;
		height: 145px;

		background-image: url("../img/illustration-2.png");
		background-repeat: no-repeat;
		background-position: top;
	}

	&:nth-child(3)::before {
		content:"";
		display: block;
		position: relative;
		width: 300px;
		height: 145px;

		background-image: url("../img/illustration-3.png");
		background-repeat: no-repeat;
		background-position: top;
	}
	&:nth-child(1n+1),{
		margin-right: 100px;
	}
}

.offer-list {
	display: flex;
	margin: 0 auto;
	padding: 0;
}

.offer-item__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: regular;
	text-transform: uppercase;
	margin-top: 26px;
	margin-bottom: 10px;
	color: #000000;
}

.offer-item__text {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: $color-p;
	margin-bottom: 33px;
}

.main-title_size {
	font-size: 55px;
	line-height: 55px;
}

.main-wrap_title {
	width: 100%;
	background-color: #eeeeee;
}

.main-title {
	margin: 0;
}